@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP&family=Roboto&display=swap");
* {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
}

.header {
  background-color: #000000;
  color: #ffffff;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.header div {
  grid-column: 3/11;
}

.nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1em;
  padding-bottom: 1.75em;
  border-bottom: 2px solid #dddddd;
}
.nav-bar div {
  padding-left: 1em;
  padding-right: 1em;
}
.nav-bar div a {
  text-decoration: none;
  padding-bottom: 0.5em;
  color: inherit;
}
.nav-bar div a:hover {
  border-bottom: 3px solid #cc0000;
}
.nav-bar .a__active {
  border-bottom: 3px solid #cc0000;
}

.zonaMain {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.zonaMain .zonaContenido {
  grid-column: 3/11;
  text-align: justify;
}
.zonaMain .zonaContenido h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
}
.zonaMain .zonaContenido h2 {
  font-family: Georgia, "Times New Roman", Times, serif;
}
.zonaMain .zonaContenido .parrafo1 {
  font-size: large;
  margin-left: 2em;
  margin-right: 2em;
  padding: 0.5em;
  border-bottom: 2.5px solid #dddddd;
  border-top: 2.5px solid #dddddd;
}
.zonaMain .zonaContenido a {
  text-decoration: none;
  padding-bottom: 0.5em;
  color: #cc0000;
}
.zonaMain .zonaContenido a:hover {
  color: rgba(34, 34, 34, 0.1333333333);
}
.zonaMain .zonaImg {
  grid-column: 4/10;
}
.zonaMain .zonaImg img {
  width: 100%;
}
.zonaMain .zonaImg figcaption {
  display: flex;
  justify-content: center;
  align-items: center;
}
.zonaMain .zonaImg figcaption a {
  text-decoration: none;
  padding-bottom: 0.5em;
  color: #cc0000;
}
.zonaMain .zonaImg figcaption a:hover {
  color: rgba(34, 34, 34, 0.1333333333);
}
.zonaMain .zonaVideo {
  grid-column: 4/10;
}
.zonaMain .zonaVideo iframe {
  width: 100%;
}
.zonaMain .zonaVideo figcaption {
  display: flex;
  justify-content: center;
  align-items: center;
}
.zonaMain .zonaVideo figcaption a {
  text-decoration: none;
  padding-bottom: 0.5em;
  color: #cc0000;
}
.zonaMain .zonaVideo figcaption a:hover {
  color: rgba(34, 34, 34, 0.1333333333);
}
.zonaMain #zonaAutor {
  margin-left: 5em;
  margin-right: 5em;
}
.zonaMain #zonaAutor .zonaImgAut {
  display: flex;
  justify-content: center;
  align-items: center;
}
.zonaMain #zonaAutor .zonaImgAut .imgRedonda img {
  grid-column: 4/5;
  width: 100px;
  height: 100px;
  border-radius: 150px;
}
.zonaMain #zonaAutor .zonaImgAut .zonaTexto {
  grid-column: 6/10;
  padding: 1em;
}
.zonaMain #zonaAutor a {
  text-decoration: none;
  padding-bottom: 0.5em;
  color: #cc0000;
}
.zonaMain #zonaAutor a:hover {
  color: rgba(34, 34, 34, 0.1333333333);
}
.zonaMain #zonaAutor i {
  font-family: Georgia, "Times New Roman", Times, serif;
}

.footer {
  background-color: #3b3b3b;
  color: #ffffff;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding-bottom: 4em;
}
.footer img, .footer p {
  grid-column: 3/11;
  font-size: smaller;
}

/*# sourceMappingURL=styles.css.map */
