body{
    margin: 0;
}

.header{
    margin: 0;
    height: 50px;
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    background-color: #F14848;
}

.header__zonaTitulo{
    grid-column: 2/4;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.zonaTitulo__logo img {
    height: 42px;

}

.header__zonaNavegacion {
    height: 100%;
    grid-column: 10/14;
  
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; /*Establecemos aire entre elementos*/
  }